<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="padding-top chart">
      <p class="activity">Activity <span class="grey">(last 5 minutes)</span></p>
      <canvas id="bar" class="chart chart-line" data="graph.data" labels="graph.labels" series='graph.series' height="240"></canvas>
    </div>
    <div class="row padding-top info">
        <div class="col info">
          <i class="ion-thermometer big-icon"></i>
          <span class="data-item padding-left">{{data[0].temperature.avg | number: 1}}</span>
        </div>
        <div class="col info">
          <i class="ion-heart big-icon"></i>
          <span class="data-item padding-left">{{data[0].heartrate.avg | number: 0}}</span>
        </div>
    </div>
  </ion-content>
</ion-view>
