<ion-view view-title="Vas">
    <ion-content class="padding">
      <div >
        <p>How do you experience your pain level at this moment?</p>
        <div class="button-bar bar-assertive">
          <a class="button" ng-click="postVas(1)" ng-class="{'disabled': lastVasExpired }">1</a>
          <a class="button" ng-click="postVas(2)" ng-class="{'disabled': lastVasExpired }">2</a>
          <a class="button" ng-click="postVas(3)" ng-class="{'disabled': lastVasExpired }">3</a>
          <a class="button" ng-click="postVas(4)" ng-class="{'disabled': lastVasExpired }">4</a>
          <a class="button" ng-click="postVas(5)" ng-class="{'disabled': lastVasExpired }">5</a>
        </div>
      </div>
      <div class="list card" ng-show="lastVasExists">
        <div class="item item-image">
          SMILEY FACE
          {{lastVasScore}}
        </div>
        <div class="item item-body timestamp">
          <p>Last VAS timestamp: {{ lastVasDate || 'No given time' | date:'yyyy-MM-dd HH:mm' }}</p>
        </div>
      </div>

    </ion-content>
</ion-view>
