<ion-view view-title="Vas">
    <ion-content class="padding">
      <div ng-show="lastVasExpired">
        <p>How do you experience your pain level at this moment?</p>
        <div class="button-bar bar-assertive" >
          <a ng-click="postVas(1)" ng-class="{'disabled': lastVasExpired }"><img src="img/5.png" class="vasScoreImage" alt=""></a>
          <a ng-click="postVas(2)" ng-class="{'disabled': lastVasExpired }"><img src="img/4.png" class="vasScoreImage" alt=""></a>
          <a ng-click="postVas(3)" ng-class="{'disabled': lastVasExpired }"><img src="img/3.png" class="vasScoreImage" alt=""></a>
          <a ng-click="postVas(4)" ng-class="{'disabled': lastVasExpired }"><img src="img/2.png" class="vasScoreImage" alt=""></a>
          <a ng-click="postVas(5)" ng-class="{'disabled': lastVasExpired }"><img src="img/1.png" class="vasScoreImage" alt=""></a>
        </div>
      </div>
      <div ng-show="!lastVasExpired">
        <p>Thank you for posting your score</p>

      </div>
      <div class="list card" ng-show="lastVasExists">
        <div class="item item-divider">
          Your last score:
        </div>
        <div class="item centered">
          <img ng-src="img/{{lastVasScore}}.png" class="bigVasFace" alt="">
        </div>
        <div class="item item-body timestamp">
          <p>Last VAS timestamp: {{ lastVasDate || 'No given time' | date:'yyyy-MM-dd HH:mm' }}</p>
        </div>
      </div>

    </ion-content>
</ion-view>
