/* Empty. Add your own CSS if you like */


.profile-top {
	margin: 10px;
}

.profile-top i {
	font-size: 10em;
	text-align: center;
}

.button-logout {
	margin-left: 10px;
	margin-right: 10px;
}

.button-medication {
	margin-left: 10px;
	margin-right: 10px;
}
.big-icon {
  font-size: 60px;
  color: #0099cc;
}
.data-item {
  font-family: Helvetica;
  font-size: 55px;
}

.vasScoreImage {
  width: 100%;
}

button:disabled {

}
