/* Empty. Add your own CSS if you like */


.profile-top {
	margin: 10px;
}

.profile-top i {
	font-size: 10em;
	text-align: center;
}

.button-logout {
	margin-left: 10px;
	margin-right: 10px;
}

.button-medication {
	margin-left: 10px;
	margin-right: 10px;
}